# general
*~
*.log
tmp
dump
 
# Eclipse
.settings
.cache-main
.cache-tests
.cache
.project
.classpath
.scala_dependencies
bin
 
# SBT
dist
project/boot
project/target
project/plugins/target
target
.target
 
# Play
logs
RUNNING_PID
conf/application.conf

# OS X
.DS_Store
