html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* New report business UI to get away from JS prompt() */
#report-overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 100;
	background: rgba(0, 0, 0, 0.2)
}

#report-overlay-content {
	position: relative;
	margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
	width: 350px;
	background-color: white;
	border: 1px solid black;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

/* Changed to "none" and "block" respectively once JS loads. */
.noscriptmsg { 
	position: relative;
	top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center; 
}
.noscriptbody { padding-top: 10px; }
.site-container { position: relative; height: 100%; display: none; }

#hideUnconfirmed { margin-right: 8px; margin-left: 5px; }

@media screen and (min-device-width: 481px) {
	html { height: 100% }
	body { 
	    height: 100%; 
	    margin: 0; 
	    padding: 0; 
	    background-color: #fffff0; 
	    font-family: Verdana, Helvetica, sans-serif;
	    font-size: 10pt;
	}
	#map-canvas { height: 100% }
	
	#site-ui {
	    position: absolute;
	    right: 0px;
	    background-color: #ffffff;
	    width: 420px;
	    height: 70px;
	    z-index: 99;
	    border-bottom: 1px solid black;
	    border-left: 1px solid black;
	    top: 0px;
	}
	
	#site-key {
	    position: absolute;
	    bottom: 0px;
	    background-color: #ffffff;
	    z-index: 99;
	    border-top: 1px solid black;
	    border-right: 1px solid black;
	    padding-right: 5px;
	}
	
	#businessName {
    	width: 296px;
	}
	
	/* This (and the mobile version below) allows for the entire parent <div>
	   to scroll once there's enough data (!) There be dragons.
	   Tested: iPhone 6, Chrome v44, Safari 9 */
	.emvBusinessList {
       max-height: 5em;
    }
    
    #address {
    	width: 330px;
    	height: 19px;
	}
	
	#recenterButton {
		width: 20px;
		height: 20px;
		vertical-align: middle;
	}
}

@media print and (min-device-width: 481px) {
	html { height: 100% }
	body { 
	    height: 100%; 
	    margin: 0; 
	    padding: 0; 
	    background-color: #fffff0; 
	    font-family: Verdana, Helvetica, sans-serif;
	    font-size: 10pt;
	}
	#map-canvas { height: 100% }
	
	#site-ui {
	    position: absolute;
	    right: 0px;
	    background-color: #ffffff;
	    width: 420px;
	    height: 70px;
	    z-index: 99;
	    border-bottom: 1px solid black;
	    border-left: 1px solid black;
	    top: 0px;
	}
	
	#site-key {
	    position: absolute;
	    bottom: 0px;
	    background-color: #ffffff;
	    z-index: 99;
	    border-top: 1px solid black;
	    border-right: 1px solid black;
	    padding-right: 5px;
	}
	
	#businessName {
    	width: 296px;
	}
	
	/* This (and the mobile version below) allows for the entire parent <div>
	   to scroll once there's enough data (!) There be dragons.
	   Tested: iPhone 6, Chrome v44, Safari 9 */
	.emvBusinessList {
       max-height: 5em;
    }
    
    #address {
    	width: 330px;
    	height: 19px;
	}
	
	#recenterButton {
		width: 20px;
		height: 20px;
		vertical-align: middle;
	}
}

@media screen and (max-device-width: 480px) {
	
	body { 
	    margin: 0; 
	    padding: 0; 
	    background-color: #fffff0; 
	    font-family: Verdana, Helvetica, sans-serif;
	    font-size: 10pt;
	}
	
	#map-canvas { position: relative; padding-top: 80px; padding-bottom: 50px; height: 100%; }
	
	#site-ui {
	    position: fixed;
	    top: 0px;
	    width: 100%;
	    background-color: #ffffff;
	    height: 88px;
	    z-index: 99;
	    border-bottom: 1px solid black;
	    border-left: 1px solid black;
	    
	}
	
	#site-key {
	    position: absolute;
	    bottom: 30px;
	    background-color: #ffffff;
	    z-index: 99;
	    border: 1px solid black;
	    left: 30px;
	    width: 300px;
	}
	
	#footer {
	    font-size: 10pt;
	    width: 100%;
	}

	#businessName {
    	width: 250px;
	}

    .emvBusinessList {
       max-height: 2em;
    }	

	#address {
    	width: calc(100% - 35px);
    	height: 29px;
	}
	
	#recenterButton {
		width: 29px;
		height: 29px;
		vertical-align: middle;
	}	
	
	#footer > .line1 {
		padding-top: 5px;
	}
}

.add-toolbar {
    text-align: right;
}

.faq-container {
    width: 85%;
    margin: 0 auto;
    padding: 5px;
    background-color: #ffffff;
    border: 1px solid black;
}

#note {
	color: #ff0000;
}

#note a {
	color: #ff0000;
}

/**
 * (C)Leanest CSS spinner ever
 * Credit: http://lea.verou.me/2013/11/cleanest-css-spinner-ever/
 */

@keyframes spin {
	to { transform: rotate(1turn); }
}

.progress {
	position: relative;
	display: inline-block;
	width: 5em;
	height: 5em;
	margin: 0 .5em;
	font-size: 12px;
	text-indent: 999em;
	overflow: hidden;
	animation: spin 1s infinite steps(8);
}

.small.progress {
	font-size: 6px;
}

.large.progress {
	font-size: 24px;
}

.progress:before,
.progress:after,
.progress > div:before,
.progress > div:after {
	content: '';
	position: absolute;
	top: 0;
	left: 2.25em; /* (container width - part width)/2  */
	width: .5em;
	height: 1.5em;
	border-radius: .2em;
	background: #eee;
	box-shadow: 0 3.5em #eee; /* container height - part height */
	transform-origin: 50% 2.5em; /* container height / 2 */
}

.progress:before {
	background: #555;
}

.progress:after {
	transform: rotate(-45deg);
	background: #777;
}

.progress > div:before {
	transform: rotate(-90deg);
	background: #999;
}

.progress > div:after {
	transform: rotate(-135deg);
	background: #bbb;
}

/* Simple Share Buttons (https://simplesharingbuttons.com) */
ul.share-buttons{
  list-style: none;
  padding: 0;
  margin-top: 2px;
  display: inline;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons li img {
  width: 24px;
}

.copyright 
{
	display: inline-block;
	vertical-align: middle;
	margin-top: -15px;
}

.line2 { height: 24px; padding-top: 5px; }

.circle {
	border-radius: 50%;
	border: 1px solid black;
	display: inline-block;
	height: 10pt;
	width: 10pt;
}

.red { background-color: red; }
.green { background-color: #00ff00; }
.yellow { background-color: yellow; }

#site-key { padding-left: 5px; padding-top: 5px; }