html { height: 100% }
body { 
    height: 100%; 
    margin: 0; 
    padding: 0; 
    background-color: #ccffff; 
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 10pt;
}
#map-canvas { height: 100% }

#site-ui {
    position: absolute;
    right: 0px;
    background-color: #ffffff;
    width: 420px;
    height: 80px;
    z-index: 99;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    
}

#address {
    width: 400px;
    height: 19px;
}

#businessName {
    width: 296px;
}

#footer {
    font-size: 10pt;
    width: 100%;
}

.add-toolbar {
    text-align: right;
}

.faq-container {
    width: 85%;
    margin: 0 auto;
    padding: 5px;
    background-color: #ffffff;
    border: 1px solid black;
}

#note {
	color: #ff0000;
}

#note a {
	color: #ff0000;
}
