html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map-canvas { height: 100% }

#site-ui {
    position: absolute;
    right: 0px;
    background-color: #ffffff;
    width: 420px;
    height: 40px;
    z-index: 99;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 10pt;
}

#address {
    width: 300px;
}

#businessName {
    width: 296px;
}

#footer {
    font-size: 8pt;
    width: 100%;
}

.add-toolbar {
    text-align: right;
}