@(useContactless: Boolean)

@main("About this site", None, useContactless) {

<div class="faq-container">

<h1><a name="top">About this site</a></h1>

<ul>
  <li>General questions
  <ol>
    <li><a href="#q1">What does EMV stand for?</a></li>
    <li><a href="#q2">What is EMV exactly?</a></li>
    <li><a href="#q3">What benefits does having a chip on my credit card give me?</a></li>
    <li><a href="#q4">What won't it do?</a></li>
    <li><a href="#q5">What countries use it?</a></li>
    <li><a href="#q6">Why should I care?</a></li>
    <li><a href="#q7">When should I expect to start using it?</a></li>
    <li><a href="#q8">Why this website?</a></li>
    <li><a href="#q9">What credit cards support EMV?</a></li>
    <li><a href="#q10">How do I use my new chip-enabled card?</a></li>
    <li><a href="#q11">Why am I still being required to sign for purchases with my chip card?</a></li>
    <li><a href="#q12">How do I request a credit card with a chip?</a></li>
    <li><a href="#q13">How do I start accepting chip cards at my business?</a></li>
  </ol></li>
  <li>Using this site
  <ol>
    <li><a href="#q14">How do I search for local businesses?</a></li>
    <li><a href="#q15">How do I add a new business that I know accepts chip cards?</a></li>
    <li><a href="#q16">I found a problem with a listing. How do I correct it?</a></li>
    <li><a href="#q17">I'm having an issue using this site. How do I get help?</a></li>
  </ol></li>
  <li>Miscellaneous questions
  <ol>
    <li><a href="#q18">What programming languages did you write the website in?</a></li>
    <li><a href="#q19">I'm a reporter for _______ and I have some questions not answered here.</a></li>
  </ol></li>
</ul>

<h2><a name="q1">What does EMV stand for?</a></h2>

EMV stands for "Europay, MasterCard and Visa".

<h2><a name="q2">What is EMV exactly?</a></h2>

EMV is basically a chip on your credit card that takes the place of the magnetic stripe on the back for in-person transactions. This is the same chip used in smart cards, but with specific programming for the payment industry.

<h2><a name="q3">What benefits does having a chip on my credit card give me?</a></h2>

Unlike the traditional magnetic stripe, the chip on an EMV-enabled credit card is nearly impossible to clone. This shuts off certain traditional avenues of fraud, such as <a href="http://en.wikipedia.org/wiki/Credit_card_fraud#Skimming">skimming</a> and cloning. Also, depending on how the card is configured, it can require a Personal Identification Code (PIN) to be entered before allowing the transaction, meaning that your card becomes useless to a thief if it's stolen.

<h2><a name="q4">What won't it do?</a></h2>

Unfortunately, EMV does nothing for "card not present" fraud, which is the unauthorized use of your credit card for online purchases. It's expected that this type of fraud will increase as EMV is rolled out, and solutions will need to be found for it.

<h2><a name="q5">What countries use it?</a></h2>

<a href="http://www.emvco.com/about_emvco.aspx?id=202">Basically every country that issues credit cards except for the US.</a>

<h2><a name="q6">Why should I care?</a></h2>

As acceptance rises in other countries, fraud goes to the locales where it's easiest. This is rapidly becoming the US. Even with improved real-time fraud monitoring, international travelers are increasingly having a harder time using their non-chip cards abroad. Merchants being required to accept all non-EMV cards by Visa and MasterCard sounds good on paper, but is extremely difficult to enforce in practice.

<h2><a name="q7">When should I expect to start using it?</a></h2>

Merchants are expected to install equipment that supports EMV by <a href="http://www.emv411.com/2013/03/08/waivers-mandates-liability-shifts-my/">October 1, 2015</a>. Failure to do so will result in merchants accepting full liability in the event of fraud. That said, unless you specifically request a chip card from your bank, it may be several years until your current card expires and a new chip-enabled card gets mailed to you.

<h2><a name="q8">Why this website?</a></h2>

Even with the looming "liability shift", merchants are extremely reluctant to spend the money to upgrade their equipment, especially since the expense of doing so is large for the perceived benefit. This website was created to allow owners of chip enabled credit cards to find businesses that take the security of their customers' payment cards seriously. It's my hope that the site will send money towards these local businesses and provide a competitive advantage for those who haven't upgraded yet to do so.

<h2><a name="q9">What credit cards support EMV?</a></h2>

FlyerTalk has a frequently-updated list of chip enabled cards <a href="https://docs.google.com/spreadsheet/ccc?key=0Ani-u3tGk5hedGRvcE1ELVg5UmlGZk01SHZvTUMxdUE">here</a>. There's also a <a href="http://www.flyertalk.com/forum/credit-card-programs/1304271-usa-emv-cards-available-today-chip-pin-chip-signature.html">thread</a> that describes people's experiences with those cards.

<h2><a name="q10">How do I use my new chip-enabled card?</a></h2>

During the transition, chip cards work exactly the same way as normal credit cards. Simply swipe the card and follow the instructions on the screen (if there is one). At a chip-enabled business, however, doing so will result in an error and a prompt to insert the card. This slot is generally on the bottom of the device installed at the checkout counter where you previously swiped. Insert the card there and follow the instructions on the screen. DO NOT REMOVE THE CARD until it has instructed you to do so or your transaction may become void.

<h2><a name="q11">Why am I still being required to sign for purchases with my chip card?</a></h2>

Unfortunately, the vast majority of EMV cards issued in the US do not have a PIN or have PIN as a lower priority than a signature. This is mostly due to the lack of infrastructure to support PIN changes and a low desire by banks to install this infrastructure. Fortunately, this won't impact the security advantages of EMV much, except in the case of a lost card.

<h2><a name="q12">How do I request a credit card with a chip?</a></h2>

If your card is on the supported list above, a simple call to your bank should be all it takes. If not, try anyway; the worst they can say is that they don't offer it right now. Alternatively, you can sign up for one of the cards on the list and request the chip on the application.

<h2><a name="q13">How do I start accepting chip cards at my business?</a></h2>

If you've purchased new merchant equipment in the past couple of years, odds are that it supports EMV already; check for the slot on the bottom. If so, you're in luck--it should simply be a matter of calling your merchant acquirer and having it enabled on your account. If your equipment doesn't have a slot, new equipment that supports it is as low as <a href="http://www.amazon.com/Verifone-Vx510le-Credit-Card-Machine/dp/B00C2K8WAQ/ref=sr_1_7?ie=UTF8&qid=1398651886&sr=8-7&keywords=emv">$100 or so</a>. Users of custom POSes (such as at restaurants) will probably need to contact their POS provider for more information.

<h2><a name="q14">How do I search for local businesses?</a></h2>

Entering an address of a business at the upper right will move the map to that location, or if your browser supports retrieving your current location (all recent versions), it will automatically move to your location. If it supports EMV, it should immediately pop up a box with information. You can also scroll and zoom through the map to see additional businesses; simply click on a pin to see information on that business.

<h2><a name="q15">How do I add a new business that I know accepts chip cards?</a></h2>

Enter the address of the business at the upper right. It will pop up a box if it's not already in the database asking for the business' name and some other information. Simply fill that information out and push "add" to finish adding.

<h2><a name="q16">I found a problem with a listing. How do I correct it?</a></h2>

Click on the "report" link for the listing and follow the instructions. I'll get an email with that information, which I will follow up on. I only have the ability to visit businesses in the San Diego area, though, so the listing may simply be removed instead of edited.

<h2><a name="q17">I'm having an issue using this site. How do I get help?</a></h2>

Email webmaster[at]emvacceptedhere.com, replacing [at] with &#64;.

<h2><a name="q18">What programming languages did you write the website in?</a></h2>

The server-side code is written in Scala, using the <a href="http://www.playframework.com">Play Framework</a>. Client-side is typical JavaScript (generated from CoffeeScript), HTML5 and CSS.

<h2><a name="q19">I'm a reporter for _______ and I have some questions not answered here.</a></h2>

Email webmaster[at]emvacceptedhere.com, replacing [at] with &#64;.

</div>
}
