@main("Find chip enabled businesses") {
  <div id="map-canvas"/>
  <div id="site-ui">
    <div id="container">
      <input type="text" id="address" placeholder="Search for EMV location" />
      <div id="footer">
        <div id="note"><a href="/news#news20140915" target="_blank">Note about Walmart listings (9/15/2014)</a></div>
        <a href="/about" target="_blank">About this site</a> | <a href="http://www.reddit.com/r/chipcards/" target="_blank">/r/chipcards on reddit</a><br/>
        Copyright &copy; 2014 Mooneer Salem.
      </div>
    </div>
  </div>
}
