@main("Find chip enabled businesses", Some(true)) {
    <div class="noscriptmsg">
      JavaScript is required to view this site. If you are using NoScript or a similar browser extension
      you can choose "Allow emvacceptedhere.com" from its settings/right-click menu and then reload this
      page to view the map. Otherwise, please view this site in a recent-ish browser (such as Chrome,
      Safari or IE &gt;9.0).
    </div>
    <div id="report-overlay">
        <div id="report-overlay-content">
            <h4>Report business</h4>
            <label for="report-email">Your email (if you want a response):
            <input type="text" id="report-email" size="45" placeholder="you@@yourisp.com" /></label><br/>
            <label for="report-reason">Explain the issue below:</label><br/>
            <textarea id="report-reason" rows="5" cols="45"></textarea><br/>
            <div class="add-toolbar">
                <a href="#" onclick="event.preventDefault(); window.app.doReport();">submit report</a> |
                <a href="#" onclick="event.preventDefault(); window.app.cancelReport();">cancel</a>
            </div>
        </div>
    </div>
  <div class="site-container"><div id="map-canvas"/></div>
  
  <!-- Google Maps moves the rest of this HTML into site-container. Whyyyyyyyy -->
  <div id="site-ui">
    <div id="container">
      <input type="text" id="address" placeholder="Search for business to add (name or address)" />
      <div style="display: inline-block;">
      <a onclick="window.app.goHome();" href="#"><img src="@routes.Assets.at("images/current-loc-button.png")" height="20" width="20" style="vertical-align: middle;"/></a></div>
      <div id="footer">
        <span id="note"><a href="/news#news20150705" target="_blank">Multiple businesses per address (7/5/2015)</a></span> | <a href="/about" target="_blank">About this site</a> | <a href="http://www.reddit.com/r/chipcards/" target="_blank">/r/chipcards on reddit</a> | Copyright &copy; 2015 Mooneer Salem.
      </div>
    </div>
  </div>
  <div id="site-key">
    <img src="@routes.Assets.at("images/green-pin.png")" /> Chip support confirmed (<a href="/recent_businesses" target="_blank">recently added</a>) <br/>
    <img src="@routes.Assets.at("images/red-pin.png")" /> Significant rollout of chip, but not confirmed <br/>
    <input type="checkbox" id="hideUnconfirmed" /><label for="hideUnconfirmed">Hide unconfirmed businesses</label>
  </div>
}
