@main("Home", Some(true)) {
    <div class="noscriptmsg">
      <div class="progress"><div>Loading...</div></div>
      
      <div class="noscriptbody">(If this takes a long time, please check your browser and extension settings; 
       JavaScript is required to view this site.)</div>
    </div>
    <div id="report-overlay">
        <div id="report-overlay-content">
            <h4>Report listing error</h4>
            <label for="report-email">Your email (if you want a response):
            <input type="text" id="report-email" size="45" placeholder="you@@yourisp.com" /></label><br/>
            <label for="report-reason">Explain the issue below:</label><br/>
            <textarea id="report-reason" rows="5" cols="45"></textarea><br/>
            <div class="add-toolbar">
                <a href="#" onclick="event.preventDefault(); window.app.doReport();">submit report</a> |
                <a href="#" onclick="event.preventDefault(); window.app.cancelReport();">cancel</a>
            </div>
        </div>
    </div>
    <div id="options-overlay">
        <div id="options-overlay-content">
            <h4>Map options</h4>
            <input type="checkbox" id="hideUnconfirmed" /> <label for="hideUnconfirmed">Hide unconfirmed locations</label><br/>
            <input type="checkbox" id="hideChains" /> <label for="hideChains"><a href="/news#news20151011" target="_blank">Hide major retailers</a></label><br/>
            <input type="checkbox" id="showGasPumps" /> <label for="showGasPumps">Show only pay at the pump locations</label><br/>
            <input type="checkbox" id="showPayAtTable" /> <label for="showPayAtTable">Show only pay at the table locations</label><br/>
            <input type="checkbox" id="showUnattendedTerminals" /> <label for="showUnattendedTerminals">Show locations with unattended terminals</label><br/>
            <div class="add-toolbar">
                <a href="#" onclick="event.preventDefault(); window.app.cancelOptions();">close</a>
            </div>
        </div>
    </div>
  <div class="site-container"><div id="map-canvas"></div></div>
  
  <!-- Google Maps moves the rest of this HTML into site-container. Whyyyyyyyy -->
  <div id="site-ui">
    <div id="container">
      <input type="text" id="address" placeholder="Search for business to add (name or address)" />
      <div style="display: inline-block;">
      <a onclick="window.app.goHome();" href="#"><img id="recenterButton" src="@routes.Assets.versioned("images/current-loc-button.png")" alt="Move map to your current location" /></a></div>
      <div id="footer">
        <div class="line1"><span id="note"><a href="/news#news20170417" target="_blank">**buffering** (04/17/2017)</a></span> | <a href="/about" target="_blank">About</a> | <a href="http://www.reddit.com/r/chipcards/" target="_blank">/r/chipcards</a></div>
        <div class="line2">
        <ul class="share-buttons">
  			<li><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Femvaccpetedhere.com&amp;t=I+found+local+businesses+who+care+about+security+using+%23EMV+https%3A%2F%2Femvaccpetedhere.com" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&amp;t=I+found+local+businesses+who+care+about+security+using+%23EMV+https%3A%2F%2Femvaccpetedhere.com'); return false;"><img src="@routes.Assets.versioned("images/Facebook.png")" alt="Share on Facebook" /></a></li>
  			<li><a href="https://twitter.com/intent/tweet?source=https%3A%2F%2Femvaccpetedhere.com&amp;text=I+found+local+businesses+who+care+about+security+using+%23EMV+https%3A%2F%2Femvaccpetedhere.com" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=I+found+local+businesses+who+care+about+security+using+%23EMV+'  + encodeURIComponent(document.URL)); return false;"><img src="@routes.Assets.versioned("images/Twitter.png")" alt="Share on Twitter" /></a></li>
  			<li><a href="https://plus.google.com/share?url=https%3A%2F%2Femvaccpetedhere.com" target="_blank" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;"><img src="@routes.Assets.versioned("images/Google+.png")" alt="Share on Google+" /></a></li>
		</ul> 
		<span class="copyright">| Copyright &copy; 2015-2017 Mooneer Salem.</span></div>
      </div>
    </div>
  </div>
  <div id="site-key">
    <div class="circle green"></div> Chip support confirmed (<a href="/recent_businesses" target="_blank">recently added</a>) <br/>
    <div class="circle red"></div> Unconfirmed location <br/>
    <div class="circle yellow"></div> Multiple businesses at location<br/>
    <a href="#" onclick="event.preventDefault(); window.app.showMapOptions();">Show map options</a> | <a href="/itemlegend" target="_blank">Explain features</a>
  </div>
  <script type="text/javascript">
  <!--
    function loadScript(urlList, callback) {
        // Source code from https://www.nczonline.net/blog/2009/07/28/the-best-way-to-load-external-javascript/
        // with change to allow parallel loading of multiple URLs (with callback called only
        // after all are loaded). This is necessary to prevent JS errors in templates.js
        // and main.js.
    	var toLoad = urlList.length;
    	urlList.forEach(function(item) {
    		var script = document.createElement("script")
    		script.type = "text/javascript";

	    	if (script.readyState){  //IE
    	    	script.onreadystatechange = function(){
        	    	if (script.readyState == "loaded" ||
            	    	script.readyState == "complete"){
                		script.onreadystatechange = null;
                		toLoad = toLoad - 1;
	                	if (toLoad == 0) {
		                	callback();
    		        	}
    	    	    }
        		};
    		} else {  //Others
        		script.onload = function(){
        			toLoad = toLoad - 1;
        			if (toLoad == 0)
        			{
	            		callback();
	            	}
        		};
    		}

	    	script.src = item;
    		document.getElementsByTagName("head")[0].appendChild(script);
		});
	}
	
	// Note: need to have these here so that Play can give us the correct URLs
	// during template execution.
	window.emv = {};
	window.emv.image_urls = {};
	window.emv.image_urls["red"] = "@routes.Assets.versioned("images/red-pin.png")";
	window.emv.image_urls["green"] = "@routes.Assets.versioned("images/green-pin.png")";
	window.emv.image_urls["yellow"] = "@routes.Assets.versioned("images/yellow-pin.png")";

	loadScript([
	    "@routes.Assets.versioned("javascripts/jquery-1.9.0.min.js")",
	    "@routes.Assets.versioned("javascripts/handlebars-v3.0.3.js")",
	    "@routes.Assets.versioned("javascripts/SimpleMVC.js")"], function() {
	    	loadScript(["@routes.Assets.versioned("javascripts/templates.js")"], function() {
	    		loadScript(["@routes.Assets.versioned("javascripts/main.js")"], function() {
	    			var done = 1;
	    		});
	    	});
	    });

  // -->
  </script>
}
