@(useContactless: Boolean)

@main("Explanation of Business Properties", None, useContactless) {

<div class="faq-container">

<h1><a name="pin">PIN pad</a></h1>

<p>"PIN pad" means that there is a customer-facing device with a PIN pad. 
Businesses with only a merchant facing terminal but that pass the terminal to 
the customer for PIN preferring chip cards do not count despite allowing PIN
entry. Businesses without this checked have a higher probability of acceptance
issues with PIN preferring cards due to many of them having poor terminal positioning.</p>

@if(useContactless) {
<h1><a name="chip">Chip cards</a></h1>

<p>This means that the terminal has a working slot intended for insertion of credit and debit cards. Such
a terminal should not let you swipe a card with a chip and instead should force you (or the cashier/server)
to insert the card into the slot instead.</p>
} else {
<h1><a name="contactless">Contactless Payment</a></h1>

<p>If this is checked, the business has a terminal that:</p>

<ol>
<li>Has NFC/contactless hardware built in,</li>
<li>Has said hardware enabled, and</li>
<li>Allows use of said hardware by customers.</li>
</ol>

<p>Due to poor terminal positioning and training, many smaller businesses satisfy (1) and
(2) but do not satisfy (3), in effect meaning that they do not accept contactless payment.</p>

<h1><a name="gas">Works at the pump (gas stations only)</a></h1>

<p>If this is checked, gas pumps at the listed service station enforce the service code
on a chip-enabled card and require that the chip be used. This will likely manifest itself
as being required to re-insert the card or not show any "remove card quickly" or similar 
prompts after insertion. Receipts will also print a line showing the card's AID.</p>

<h1><a name="unattended">Has unattended terminals</a></h1>

<p>If this is checked, the business has EMV-enabled terminals that do not have an
attendant readily available to check a signature and cannot accept one. These types 
of terminals are common  at e.g. train stations in Europe and have been known to cause
problems with most American credit cards (though it's unlikely that our cards will have 
issues at domestic unattended terminals). NOTE: this does not include self-checkouts as 
they are technically "attended" terminals and can accept a signature if required.</p>
</p>

<h1><a name="quickChip">Has Quick Chip</a></h1>

<p>If this is checked, the business has EMV-enabled terminals that allow customers
to insert and remove their cards before the transaction has finished authorizing. 
This is an "optimization" measure designed for the US market to approximately match the
pre-EMV behavior of some stores. Unfortunately, this also means that PIN changes
for offline PIN capable cards will likely not be pushed at these stores; time will
tell whether this becomes a significant problem.</p>

}

<h1><a name="payattable">Has pay at the table (restaurants only)</a></h1>

<p>If this is checked, payment was performed by the server or by the customer using
a device located at or brought to the table. This is usually accomplished by Ziosk tablets or
similar at every table or by a device carried by the server such as
<a href="https://www.clover.com/get-paid/mobile" target="_blank">Clover Mobile</a> and the 
<a href="https://ingenico.us/smart-terminals/wireless-terminals" target="_blank">Ingenico iWL series</a>.
</p>

</div>
}
