@main("News regarding this site", None) {

<div class="faq-container">

<p><a href="/">Back to emvacceptedhere.com</a></p>

<h1><a name="news20170717">Late update (07/17/2017)</a></h1>

<p>It's been a while since I last made a post. To be honest, not much has really happened. 
Sure, there have been a few retailer adds since the last post but most were ones that
probably should have been added a while ago.</p>

<p>Okay, one thing has happened: CVS adopted Quick Chip. They probably needed to, though,
since their chip implementation was so slow in the first place. Unfortunately, that came
at the expense of auto-selecting the domestic debit application (aka common AID) on the card, 
so it's going to be more of a challenge to test online PIN support for Visa/MC in the future.
Not that online PIN in itself is all that commonly implemented at the terminal level in the US,
but still.</p>

<p>There's also <a href="http://www.prnewswire.com/news-releases/unionpay-promotes-emvco-to-issue-the-emvco-qr-code-specifications-300488794.html" target="_blank">an official QR code specification</a> now thanks to UnionPay. Somehow I wouldn't
be surprised if that gets some traction in the US for some reason.</p>

<p>* * *</p>

<p>Since last update, these major stores and restaurants came online/were added:</p>

<ul>
<li>Justice</li>
<li>Buckle</li>
<li>Cost Plus World Market</li>
<li>rue21</li>
<li>Little Caesars Pizza</li>
<li>Hardee's</li>
</ul>

<h1><a name="news20170525">Memorial Day (05/25/2017)</a></h1>

<p>Happy early Memorial Day! I added a Quick Chip field to each of the
entries on the map. This is important mainly so that visitors can see which businesses 
will <i>not</i> push PIN changes to offline PIN capable cards. Depending on how common
QC implementation ends up becoming (currently Costco, Brookstone and O'Reilly Auto Parts
of the major stores), this could be a significant issue for cards such
as the Arrival+ from Barclaycard as online PIN support is still fairly lacking outside
of some major retailers and PIN in general is tried for unmanned terminals when possible
(not just outside the US as with most cards that support PIN for purchases).</p>

<p>As a side note, the few issuers that prefer offline PIN--such as UNFCU and 
Diners Club--either require PIN changes to happen at ATMs or simply don't allow them
at all. Either approach is probably not realistic for cards that are supposed to prefer
signature for all manned terminals, however, and is questionable for PIN preferring cards
when ATMs don't really support it without hacks (such as having to change the PIN for
Diners Club over the phone and then performing an ATM transaction to finalize it).</p>

<p>* * *</p>

<p>Since last update, these major stores and restaurants came online/were added:</p>

<ul>
<li>Baskin-Robbins</li>
<li>Red Lobster</li>
<li>Hallmark</li>
<li>California Pizza Kitchen</li>
<li>Hobby Lobby</li>
<li>Pollo Tropical</li>
<li>Hilton Hotels (Hampton Inn/Homewood Suites/DoubleTree/Hilton Garden Inn/Embassy Suites/Hilton)</li>
<li>Sizzler</li>
<li>In-N-Out Burger</li>
</li>

<h1><a name="news20170417">**buffering*** (04/17/2017)</a></h1>

<p>Happy Easter, everyone!</p>

<p>So, Costco finally got the chip. Unfortunately no contactless (yet?). They also
have Quick Chip but it still felt pretty slow. Will TPTB start to realize that it's
the POS/card communication that's the problem and not the authorization time? (Well,
most of the time anyway. A lot of smaller places still use dialup.) At least PIN
isn't disabled.</p>

<p>Since last update, these major stores and restaurants came online/were added:</p>

<ul>
<li>Costco</li>
<li>Aesop</li>
<li>Smart &amp; Final</li>
<li>Crate and Barrel</li>
<li>Round Table Pizza</li>
<li>Ross Dress For Less</li>
<li>ExxonMobil</li>
<li>Wegmans</li>
<li>Ingles</li>
<li>HoneyBaked Hams</li>
<li>The UPS Store</li>
</ul>

<h1><a name="news20170221">Valentine's Day (02/21/2017)</a></h1>

<p>Happy belated Valentine's Day! Upgrades continue abrisk now that the
holiday season's done. McDonald's is particularly notable as they were
supposedly anti-EMV for a long time, but now seem to actually be adopting
EMV contact+contactless support (possibly including CDCVM as well, but that's
still unconfirmed).</p>

<p>Also notable is that two of the stores below (O'Reilly Auto Parts and Brookstone)
appear to have Visa Quick Chip. I fully expect most other stores to eventually 
adopt it, as not being able to insert/remove during item scanning is a surprisingly
big complaint amongst Americans. Not to mention that without it, a significant 
number of merchants would likely not adopt EMV for a very long time, if ever.</p>

<p>Finally, unattended terminals are finally getting EMV. For example, <a href="https://www.reddit.com/r/chipcards/comments/5v2ro0/usa_interesting_behavior_at_unattended_emvenabled/" target="_blank">I 
ran into a car wash that did not have anyone taking payment in person</a> that supported
EMV on both the contact and contactless interfaces. I'm not sure how common unattended
terminals really are here, though, but I did add a checkbox to each business listing
and a filter option so that any of those can be seen independent of the others.</p>

<p>Since last update, these major stores and restaurants came online/were added:</p>

<ul>
<li>Food Lion</li>
<li>McDonald's</li>
<li>Nike</li>
<li>Converse</li>
<li>Rubio's Fresh Mexican Grill</li>
<li>Verizon Wireless</li>
<li>Discount Tire/America's Tire</li>
<li>Togo's</li>
<li>O'Reilly Auto Parts</li>
<li>Vitamin Shoppe</li>
<li>Penn Station Subs</li>
<li>Brookstone</li>
<li>ABC Stores</li>
<li>Ruby's Diner</li>
</ul>

<h1><a name="news20161231">End of year update (12/31/2016)</a></h1>

<p>I've moved the map options to a separate dialog box and added two new ones:
show only gas stations with EMV at the pump and show only restaurants with pay at
the table. While currently rare, this will allow easier tracking of those places
as more come online. (The moving to a separate dialog box also ensures that the
site continues to be usable over mobile.)</p>

<p>In other news, gas stations now have until 2020 to support EMV at the pump.
This is probably for the best since apparently very few have even been able to
install the hardware, let alone the software. Visa/MC likely decided it wasn't
worth the trouble, especially in light of the amount of flak they got after October
2015 (despite the problems being mostly merchant-inflicted). In practice, I can see
Shell, ExxonMobil, Arco and maybe some Chevron and 76 stations making the original
October 2017 deadline anyway since most already have the needed hardware.</p>

<p>Anyway, hope 2017 works out better than 2016 has.</p>

<p>* * *</p>

<p>Since last update, these major stores and restaurants came online/were added:</p>

<ul>
<li>DSW Designer Shoe Warehouse</li>
<li>REI</li>
<li>Grocery Outlet</li>
<li>Shell</li>
<li>Anthropologie</li>
<li>Paper Source</li>
<li>Pei Wei</li>
<li>Sheraton</li>
<li>Baja Fresh Mexican Grill</li>
<li>Denny's</li>
<li>99 Ranch Market</li>
<li>Benihana</li>
</ul>

<h1><a name="news20161107">Happy Holidays (11/7/2016)</a></h1>

<p>We're coming up on the holiday season again. Way too soon too, since everyone 
seems to already be playing the Christmas music. Wasn't it better when that stuff
didn't start until the week of Thanksgiving? Anyway, that means that there probably
won't be much in the way of major stores enabling EMV until after the New Year--but
then again, CVS enabled EMV during December of last year.</p>

<p>Something else to watch: <a target="_blank" href="http://bankingjournal.aba.com/2016/11/fed-qa-interprets-durbin-amendment-routing-on-emv/">the Federal Reserve 
apparently agrees with Walmart</a> with regard to debit routing. This may mean that
they and other major retailers may begin forcing debit cards to be run as debit again,
which could very well make things even less consistent for the customer than they already were.
Not to mention force some to pay fees to their banks that they wouldn't have needed to otherwise.</p>

<p>* * *</p>

<p>Since last update, these major stores and restaurants came online:</p>

<ul>
<li>Jo-Ann Fabrics and Crafts</li>
<li>Bath &amp; Body Works</li>
<li>Ruth's Chris Steak House</li>
<li>Hy-Vee</li>
<li>Kate Spade</li>
<li>Goodwill</li>
<li>Five Guys Burgers and Fries</li>
<li>JCPenney</li>
<li>Five Below</li>
<li>Safeway</li>
<li>TJ Maxx</li>
</ul>

<h1><a name="news20161001">Happy anniversary (10/1/2016)</a></h1>

<p>Well, it's been a year since EMV officially became a thing in the US. How did everyone do?
In short, not good: <a href="http://www.darkreading.com/endpoint/emv-the-anniversary-of-one-deadline-the-eve-of-another-/d/d-id/1327025" target="_blank">only about 30% of all retailers have managed to enable it</a>.
Procrastinating retailers at the places that managed to enable it also rushed out software that 
made the experience a lot worse than it otherwise could have been.</p>

<p>That's not to say it's all bad. A lot of progress was still made, especially with contactless
payment: 44% of retailers (and 60% of locations) on the map have it enabled. Use of the various
Pays is still pretty low, however.</p>

<p>Anyway, check back next October to see whether any gas stations made their deadline.</p>

<p>* * *</p>

<p>Since last update, these stores came online:</p>

<ul>
<li>Menards (came online a while ago, finally added remaining locations)</li>
<li>Winn-Dixie* (also came on a while ago)</li>
<li>Dillard's</li>
<li>L'Occitane en Provence*</li>
<li>Starbucks*</li>
<li>Jimmy John's</li>
<li>Dean & DeLuca*</li>
<li>PetSmart*</li>
<li>Williams-Sonoma</li>
<li>Party City*</li>
<li>Publix</li>
<li>Giant Eagle</li>
<li>BJ's Wholesale Club</li>
<li>Big 5 Sporting Goods</li>
<li>Dollar Tree</li>
</ul>

<p>* Supports contactless</p>

<h1><a name="news20160823">80% (8/23/2016)</a></h1>

<p>Since last update, these stores came online:</p>

<ul>
<li>Bashas/AJ's Fine Foods/Food City*</li>
<li>Lucky/Save-Mart/FoodMaxx*</li>
<li>H-E-B</li>
<li>Meijer*</li>
<li>AutoZone*</li>
<li>7-Eleven</li>
<li>Fry's Electronics**</li>
<li>Shopko</li>
<li>Neiman Marcus*</li>
<li>American Eagle Outfitters*</li>
<li>J.Crew*</li>
<li>Kmart</li>
<li>Payless ShoeSource</li>
<li>Harbor Freight Tools</li>
<li>Stop &amp; Shop/Giant*</li>
<li>Levi's*</li>
<li>Van Heusen</li>
<li>Eddie Bauer*</li>
</ul>

<p>* Supports contactless</p>
<p>** Possibly supports contactless (unconfirmed)</p>

<p>10 of 18 major retailers above support contactless (or 11/18 if you count Fry's). In other words, 55-61%
of the above list. It's a slightly higher percentage than the site's 
<a href="/recent_businesses" target="_blank">current stats</a>, which bodes well for the
supposed eventual 
<a href="http://www.nfcworld.com/2016/08/16/346700/three-quarters-us-retailers-plan-accept-apple-pay-2018/" target="_blank">three fourths</a>
by late next year. We'll see if that ultimately happens; I still think a lot of smaller businesses
will effectively not support contactless even if their hardware and software does due to poor
terminal positioning and low demand from customers.</a></p>
 
<h1><a name="news20160704">Happy 4th (7/4/2016)</a></h1>

<p>Happy 4th of July, everyone! That is all.</p>

<p>...kidding, that's not all. Since the last update: El Pollo Loco, Subway, Sears*
(no K-Mart for some reason), Barnes and Noble*, Sprouts, Whole Foods, Microsoft Store,
Lego Store, Foot Locker (though I think this has been enabled for a while), Ace Hardware,
Steak 'n Shake and Hard Rock Cafe* (also probably been enabled for a while). (* = no contactless)</p>

<p>Hard Rock Cafe is supposedly using a setup similar to what The Stinking Rose in SF is using.
For reference:</p>

<img src="http://i.imgur.com/DGsECSEl.jpg" />

<p>Needless to say, there's no pay at the table there. That's probably going to be the case
for most restaurants, unfortunately, because as it turns out contactless isn't enough of 
a justification absent anything mandating pay at the table. Debit support isn't exactly 
one either due to the Durbin interchange caps, plus it's possible that tip fraud simply isn't
a big enough issue for the banks.</p>

<p>I also seem to be getting proved right in terms of CVM support. Terminals seem to be
losing PIN support altogether, or at least for low-value transactions. And since around 
80% of transactions are under $50 anyway, being asked for a PIN only 20% of the time
is a recipe for customer service disaster at the banks. Oh well, I suppose.</p>

<h1><a name="news20160521">Picking up steam (5/21/2016)</a></h1>

<p>Contactless acceptance officially broke the 40% mark in both number of locations (45.8%)
and number of unique retailers (41.9%) during this past month. I was honestly expecting it 
to stay at around the low 30% mark. That said, there are still a lot of places out there
that hide their terminals or don't even know about the feature, so it could be quite a while
before acceptance is close to what it's like in other countries.</p>

<p>Also, apparently H-E-B didn't have EMV turned on after all. They've been removed from
the map for the time being. On the other hand, a bunch of other places <i>have</i> turned
EMV on (Big Lots, SuperValu/Albertsons, ShopRite, Staples, Family Dollar, Total Wine &amp;
More, Petco, GameStop, Bed Bath &amp; Beyond, among others). It does kinda make me wonder
if an October 2016 liability shift date would have caused less merchant angst in the end 
though.</p>

<h1><a name="news20160418">Tap to read (4/18/2016)</a></h1>

<p><a href="http://www.cardhub.com/edu/emv-adoption-survey/" target="_blank">CardHub did a survey of some major retailers</a> and
thanks to their efforts, discovered a few additional major retailers that have enabled EMV. Those
include H-E-B, Menards and Dairy Queen. Dick's Sporting Goods, H&amp;M and Toys"R"Us/Babies"R"Us 
have also enabled EMV since the last news update.</p>

<p>There was also a slight uptick in the level of contactless acceptance at the retailer level
(38.4%) but also a downtick in the number of physical locations accepting it (32.5%). This 
is possibly due to difficulties by customers in using it on hardware that supports it. For instance,
a local (to me) Mexican fast food chain here is on the <a href="https://www.mastercard.us/en-us/consumers/features-benefits/contactless/contactless-locator.html" target="_blank">MasterCard contactless map</a> 
and this website but makes their terminals impossible to access for anyone other than the staff.
Unfortunately this will also be a challenge for anyone visiting the US with cards that require a PIN,
as I've discovered on more than one occasion.</p>

<p>On the other hand, Citi is apparently issuing a couple of their cards as contactless now. 
It seems to be on an opt-in basis at the moment, but perhaps it will be the default in the future.
(AmEx has had such cards for more than a year but still requires one to call in to request them,
leading me to think that there's either some sort of acceptance issue or doesn't think the US
market can handle contactless. Which considering how popular the various RFID shielding devices
are despite the current cards not being capable of wireless transmission, may be a good choice
right now.)</p>

<p>Anyway, I'm expecting Big Lots and Grocery Outlet to enable EMV soon from what I've heard.
There's no indication of such at my local locations yet based on checking over the last month,
but that should change soon.</p>

<h1><a name="news20160309">Speeding along (3/9/2016)</a></h1>

<p>Now that we're a few months past the holidays, activity seems to be really picking
up among the major retailers. Michaels, Kroger, GNC, Nordstrom, BevMo,
Dollar General, Pep Boys and Kohl's have all turned things on since the last update.
Unfortunately most of the above have <i>not</i> enabled NFC/Apple Pay support at
the same time. Time will tell whether that is only temporary or a sign of continued
retailer resistance towards anything other than "chip and PIN".</p>

<p>Speaking of "chip and PIN", <a href="http://thehill.com/blogs/congress-blog/technology/272095-card-industry-failed-consumers-and-merchants-with-move-to-emv" target="_blank">they're still complaining about that</a>.
Never mind that they had <a href="http://www.prnewswire.com/news-releases/visa-announces-plans-to-accelerate-chip-migration-and-adoption-of-mobile-payments-127297418.html" target="_blank">four years of advanced notice</a>
on the credit side of things and could have had the hardware and software ready long before the October shift date. Debit only had ~1.5 years lead
time but let's be honest: people prefer running their debit cards as credit anyway because of the zero liability policies of Visa and MasterCard.
And in a lot of ways technologies like Apple Pay are even better: biometrics are much less likely to be guessed vs. an authentication mechanism where
<a href="http://datagenetics.com/blog/september32012/index.html" target="_blank">a quarter of the PINs used are the same 20 of them</a>, not to
mention the faster transaction performance. If retailers care so much about security, why are they so closed minded over other alternatives?</p>

<p><a href="http://finance.yahoo.com/news/gift-cards-feel-pinch-rules-234200369.html" target="_blank">At least some of the holdouts have a fire lit under them, for what it's worth</a>.</p>

<h1><a name="news20160129">Happy New Year (1/29/2016)</a></h1>

<p>Apologies for the late update. Not much is new since the last posting. CVS
rolled out EMV to all of its stores over the holiday (<a href="http://www.forbes.com/sites/kateashford/2015/12/27/chip-cards-take-too-long/#4b4645b91053">and then backed it out at
some locations</a>). Probably for the best since their implementation is currently
very slow.</p>

<p>Starbucks also seems to have chosen about 12 San Diego locations to trial EMV and
NFC payments. From my multiple visits to different locations, I've been able to conclude with
some certainty that a listing on <a href="https://www.mastercard.us/en-us/consumers/features-benefits/contactless/contactless-locator.html">MasterCard's site</a>
means that the location supports EMV as well. They also aren't taking the opportunity
to support the "traditional" debit networks now that they're getting PIN pads, which isn't 
surprising--Visa and MasterCard are effectively our national debit networks for better or worse.</a>

<p>As for the rest, the early numbers are coming in and it doesn't look good: 
<a href="http://www.chainstoreage.com/article/how-far-have-retailers-come-emv">8.5% of major retailers managed to enable EMV in 2015</a>.
The silver lining is that the majority of the remaining retailers are ready or almost so, which
may mean that we'll reach our original 45-50% estimate only a year or so late. Almost makes me
think we should have granted the extension to 2016, except retailers would probably still procrastinate
and end up pushing everything out to 2017.</p>

<p>In website related news, I added <a href="/itemlegend">a page</a> clarifying the purpose
of each of the checkboxes when adding a business. Hopefully that should alleviate the confusion
that some have experienced when filling that form out.</p>

<h1><a name="news20151122">Happy Holidays (11/22/2015)</a></h1>

<p>Looks like only Trader Joe's and Macy's actually turned on EMV since the previous update.
Not that I'm surprised since we're now in the holiday season but it would have been nice
to see more Costco locations enabled, for instance. Or for Kroger to roll it out to the 
rest of their stores. More smaller businesses are coming online every day though, which
is always good news.</p>

<p>Anyway, I don't foresee any more major retailers enabling EMV until early next year but 
who knows? In any case, hopefully everyone has an awesome holiday season.</p>

<h1><a name="news20151011">Filtering update (10/11/2015)</a></h1>

<p>Recently I added the Apple Store to the map. Because there are fewer than 500 stores in the US,
it wasn't considered a "large" retailer and was thus not filtered out when a user selects the option
from the main page. That's pretty ridiculous, to be honest--Apple is #14 on the 
<a href="https://nrf.com/2015/top100-table">NRF's major retailer chart</a> and by all accounts
does not count as a "small" business (which was the original purpose of the filtering option).</p>

<p>Therefore, starting today, the criteria for that filtering option has changed. Retailers with
more than 500 locations across all brands will continue to be filtered, but brands owned by retailers 
on the NRF's chart will also be filtered regardless of the number of locations. This should hopefully
make the "major" retailer filter less ambiguous.</p>

<p>In other news, Rite Aid also seems to be rolling out EMV. It may not be at all locations yet though so
most are "unconfirmed" on the map.</p>

<h1><a name="news20151004">Predictable (10/4/2015)</a></h1>

<p>So the liability shift date came and went a few days ago and merchant preparedness went about
as well as I expected. That is, not well; I'm still swiping for the vast majority of transactions.
This just means that the vast majority of retailers are now on the hook for counterfeit fraud
until they get around to turning things on.</p>

<p>There are a few that seem to be in the process of turning support on at their terminals. These
include Whole Foods, Trader Joe's, Kohl's, Costco, Macy's, Sprouts, Petco and Dollar Tree. However,
these retailers are still swipe-only (or swipe/tap only) in my local area as of this writing. I 
would be particularly interested in finding out whether Costco and Dollar Tree can do NFC 
transactions now, if anyone knows.</p>

<p>Kroger also is currently piloting EMV in one Illinois location, with nationwide rollout still
TBD. They in particular anticipated an on-time rollout, which they completely missed. Oh well,
most retailers likely won't enable it until 2016 now anyway due to the upcoming holiday shopping
season.</p>

<h1><a name="news20150930">Special thanks (9/30/2015)</a></h1>

<p>
<a href="https://www.reddit.com/r/chipcards/wiki/faq/using_your_card#wiki_when_should_i_expect_to_start_using_it.3F">
<b>No more days until the liability shift.</b>
</a></p>

<p><a href="http://news.walgreens.com/press-releases/general-news/walgreens-now-accepting-emv-chip-card-transactions-at-all-stores.htm">Walgreens officially announced EMV/chip support yesterday</a>. 
They're (along with Duane Reade, also owned by Walgreens) now on the map. That brings the total 
number of major retailers supporting EMV up to 6. The bad news is that unless a bunch of other 
retailers flip things on today or overnight, many will miss the deadline. Only time will tell.</p>

<p>Anyway, this site was <a href="http://www.whsv.com/home/headlines/Phasing-Out-Swiping-of-Payment-Cards-329719741.html">mentioned by a TV news station</a> a couple of days ago, 
which is cool. If you visited from there, thanks for viewing and contributing to the map! What 
surprised me more is that banks and CUs are taking notice. Speaking of them, a special thanks goes 
to Coastal Federal Credit Union in Raleigh, NC for <a href="https://www.coastal24.com/emv/chip-cards-faqs.html">mentioning this website</a> 
in their chip card educational materials!</p>

<h1><a name="news20150927">More stats updates (9/27/2015)</a></h1>

<p>
<a href="https://www.reddit.com/r/chipcards/wiki/faq/using_your_card#wiki_when_should_i_expect_to_start_using_it.3F">
<b>3 days until the liability shift.</b>
</a></p>

<p>Best Buy's supposed to finish rolling out EMV by tomorrow, so I added the remaining locations
to the map. Walgreens is supposed to finish by the 30th, so those will be added then as well.
I haven't seen any others around here so I don't know when exactly those will happen, but hopefully
it's not just those three (along with Home Depot, Walmart, Target and Gap) that made it.</p>

<p>Also, I added the ability to go directly to a map location. Just put #[latitude],[longitude]
at the end of the URL). See <a href="/recent_businesses">the recent businesses page</a> for an idea
of how to format the URL. It will also pop open the information for the listing if there's anything
available.</p>

<p>Anyway, happy dipping!</p>

<h1><a name="news20150923">Stats updates (9/23/2015)</a></h1>

<p>
<a href="https://www.reddit.com/r/chipcards/wiki/faq/using_your_card#wiki_when_should_i_expect_to_start_using_it.3F">
<b>One week (7 days) until the liability shift.</b>
</a></p>

<p>I updated <a href="/recent_businesses">the recent businesses page</a> to a) add some statistics that might be of interest and
b) make recent small business additions more visible. (b) will become important very soon
since I am anticipating a large number of major retailer locations being added to the map in
a short period of time.</p>

<p>Speaking of retailers, who do you think will make the deadline? Post your thoughts <a href="https://www.reddit.com/r/chipcards/comments/3m62m6/who_do_you_think_will_make_the_deadline/">here</a>.</p>

<h1><a name="news20150916">Almost there (9/16/2015)</a></h1>

<p>
<a href="https://www.reddit.com/r/chipcards/wiki/faq/using_your_card#wiki_when_should_i_expect_to_start_using_it.3F">
<b>Two weeks (14 days) until the liability shift.</b>
</a></p>

<p>No major updates. Walgreens and Best Buy appear to be turning on their chip slots, possibly
Staples too. Kroger may also do so soon as well from what I've seen elsewhere. Unfortunately I'm not hearing
much about other retailers, so either it's being kept really quiet or the lower end of analysts'
estimates for EMV terminal penetration is correct. Hopefully not the latter.</p>

<p>We'll see in any case. At least our cards will work a bit better overseas.</p>

<h1><a name="news20150802">UI improvements (8/2/2015)</a></h1>

<p>
<a href="https://www.reddit.com/r/chipcards/wiki/faq/using_your_card#wiki_when_should_i_expect_to_start_using_it.3F">
<b>60 days until the liability shift.</b>
</a></p>

<p>I made a slight improvement to how listings are shown to hopefully reduce confusion. Before,
every pin was treated as though it had multiple businesses and showed businesses as a list,
even if there was only one business. This made it seem like there was no business name on a glance.
As of today, green/red pins (indicating only a single business) will show that business in the
text box; you can add an additional business by clicking on the "add business" link in the popup.
The way yellow pins are treated has not changed.</p>

<p>I also made a slight improvement to reporting--you can now optionally enter your email address
to include with the report. Doing so will allow me to ask for additional information if required
and permanently works around a really annoying issue with prompt boxes and Safari.</p>

<p>if you have any questions or problems, do not hesitate to contact the mods of
/r/chipcards for help.</p>

<h1><a name="news20150705">Multiple businesses per address (7/5/2015)</a></h1>

<p>
<a href="https://www.reddit.com/r/chipcards/wiki/faq/using_your_card#wiki_when_should_i_expect_to_start_using_it.3F">
<b>88 days until the liability shift.</b>
</a></p>

<p>I pushed a major change to the site tonight that should make adding multiple businesses
to a single address (e.g. inside a shopping mall) easier. These changes boil down to the following:</p>

<ol>
<li>A yellow pin will now show on the map when there are multiple businesses at the exact same latitude/longitude.</li>
<li>When a pin is clicked/tapped, a list of all businesses at the given pin are shown at the bottom of the popup box
along with UI at the top to allow for adding additional businesses.</li>
<li>Backend database query modifications to ensure that all businesses at a given latitude/longitude are returned.</li>
</ol>

<p>Hopefully this makes adding mall and similar entries a lot easier. As always, if you have any questions or problems, do not hesitate to contact the mods of
/r/chipcards for help.</p>

<h1><a name="news20150625">Inching closer (6/25/2015)</a></h1>

<p>
<a href="https://www.reddit.com/r/chipcards/wiki/faq/using_your_card#wiki_when_should_i_expect_to_start_using_it.3F">
<b>98 days until the liability shift.</b>
</a></p>

<p>Some Targets appear to be turning chip on now. I've seen a definite date of some time in late 
August for when all of their US locations will be EMV enabled. They will be the third major
retailer to enable it in their stores. Unfortunately it looks like the majority of major retailers
are going to wait until the very last second for various reasons. October 1st may be interesting
in a not so good way.</p>

<p>Also, a Federal Reserve governor <a href="http://www.federalreserve.gov/newsevents/speech/powell20150625a.htm">has basically said that FIs should reconsider signature</a>
as a form of cardholder verification. His comments seem to stop short of recommending PIN though.
If this does cause any change in the way physical cards are configured, it likely won't be for at 
least an issuing cycle simply due to the number of chip and signature cards already out there.</p>

<p>BTW, there are 7158 businesses on the map as of this posting. Contributions are definitely appreciated
(and if you're from a merchant acquirer and want to drop a link to this site to your clients, that would be awesome.)</p>

<h1><a name="news20150604">New map features (6/4/2015)</a></h1>

<p>
<a href="https://www.reddit.com/r/chipcards/wiki/faq/using_your_card#wiki_when_should_i_expect_to_start_using_it.3F">
<b>119 days until the liability shift.</b>
</a></p>

<p>A few changes since last update:</p>
<ol>
<li>There were performance improvements behind the scenes. This will become extremely important
as many retailers will likely flip the switch extremely close to October.</li>
<li>References to "contactless" cards have been changed to "Apple/Android Pay". This reflects
the reality in the US that such cards are extremely rare, with banks opting to steer customers
towards mobile solutions instead. Note that if you have such a card, it will still work
at places that support those two platforms.</li>
<li>A button has been added next to the business text box at the upper right to allow users to recenter the map
on their current location without having to reload the page.</li>
<li>A new page showing the ten most recently added business listings <a href="/recent_businesses">is now here</a>.</li>
</ol>

<p>As always, if you have any questions or problems, do not hesitate to contact the mods of
/r/chipcards for help.</p>

<h1><a name="news20150429">Important map update (4/29/2015)</a></h1>

<p>Merchant Customer Exchange (MCX) members were originally tracked on the
map due to a boycott following the release of Apple Pay and the
disablement of NFC at CVS and Rite-Aid. Due to former MCX members
jumping off the sinking ship and a realization that such tracking is out
of scope for this site, this functionality has been removed.</p>

<p>In its place is the notion of "unconfirmed" businesses. These are
locations that are part of a larger chain that is known to be rolling
out EMV but have not been confirmed to have that functionality. This
allows businesses like Home Depot (which is currently rolling out EMV)
to be represented on the map even though there is no confirmation from
their PR as to the current extent. These businesses use red pins on the map.
To confirm these locations, simply report them and they will be updated
accordingly. Businesses that are user-added will always show as confirmed.</p>

<p>If you have any questions or problems, do not hesitate to contact the mods of
/r/chipcards for help.</p>

<h1><a name="news20150426">Welcome USA Today readers (4/26/2015)</a></h1>

<p>Thanks for visiting! If you do run into any businesses that allow you to use the chip 
in your chip-enabled credit or debit card, please add it to the map. To do so, simply
search for the business' name or address in the search box, check the checkboxes for
things that the business supports (like NFC or PIN entry) and push "add business".</p>

<h1><a name="news20150226">Sample receipts available (2/26/2015)</a></h1>

<p>I've put up a page with sample terminal receipts <a href="/sample_receipts">here</a>.
This will allow one to figure out the terminal that was used for a particular transaction,
especially since it appears likely that cards will still be taken away from cardholders
for some transactions (namely restaurants). If you have a receipt to contribute,
please PM the mods at /r/chipcards and it will be added.</p>

<h1><a name="news20141024">Merchant Consumer Exchange listings (10/24/2014)</a></h1>

<p>Merchant Consumer Exchange is a consortium of retail businesses comprising of
approximately 20% of US retail spending. They have all agreed to disable security
enhancing technologies such as Apple Pay in favor of their own QR code based
mobile payment solution (called <a href="http://www.currentc.com/">CurrentC</a>), 
which they claim is more secure. In reality, their real motivations for doing so are 
two-fold:</p>

<ol>
<li>To avoid having to pay merchant fees, assuming a significant portion of consumers use 
it instead of credit or debit cards.</li>
<li>To ensure that they can still mine purchases and track consumers for advertising and other purposes,
something that the tokenization technology in Apple Pay thwarts.</li>
</ol>

<p>To that end, <a href="http://forums.macrumors.com/showthread.php?t=1807917">they 
have disabled NFC support at their retail stores</a> and are doing everything possible
to prevent progress in payment security. <b>These locations are now in red on the map.</b> 
Please prefer non-MCX merchants if at all possible. They are still on the map because
they do support contact EMV, so they will not be removed at this time.</p>

<h1><a name="news20140929">Diners Club now accepting new US applicants (9/29/2014)</a></h1>

Not strictly about this website, but <a href="http://dinersclubus.com/">Diners Club</a> is
accepting applications again. Supposedly it's a true chip and PIN card (with PIN priority),
but we'll see when mine arrives in the mail.

<h1><a name="news20140915">About Walmart listings (9/15/2014)</a></h1>

As of 9/15/2014, Walmart has completed turning on EMV at 97% of its locations in the US. Because of this,
I've gone ahead and added all Walmart locations that have not already been added to the map. However, this
means that around 125 or so locations have not been turned on yet. Hopefully those remaining ones will be
turned on before the end of the year, but please keep this in mind when visiting your local Walmart location.

</div>
}