@main("News regarding this site") {

<div class="faq-container">

<h1><a name="news20140929">Diners Club now accepting new US applicants (9/29/2014)</a></h1>

Not strictly about this website, but <a href="http://dinersclubus.com/">Diners Club</a> is
accepting applications again. Supposedly it's a true chip and PIN card (with PIN priority),
but we'll see when mine arrives in the mail.

<h1><a name="news20140915">About Walmart listings (9/15/2014)</a></h1>

As of 9/15/2014, Walmart has completed turning on EMV at 97% of its locations in the US. Because of this,
I've gone ahead and added all Walmart locations that have not already been added to the map. However, this
means that around 125 or so locations have not been turned on yet. Hopefully those remaining ones will be
turned on before the end of the year, but please keep this in mind when visiting your local Walmart location.

</div>
}