@main("News regarding this site", None) {

<div class="faq-container">

<p><a href="/">Back to emvacceptedhere.com</a></p>

<h1><a name="news20150927">More stats updates (9/27/2015)</a></h1>

<p>
<a href="https://www.reddit.com/r/chipcards/wiki/faq/using_your_card#wiki_when_should_i_expect_to_start_using_it.3F">
<b>3 days until the liability shift.</b>
</a></p>

<p>Best Buy's supposed to finish rolling out EMV by tomorrow, so I added the remaining locations
to the map. Walgreens is supposed to finish by the 30th, so those will be added then as well.
I haven't seen any others around here so I don't know when exactly those will happen, but hopefully
it's not just those three (along with Home Depot, Walmart, Target and Gap) that made it.</p>

<p>Also, I added the ability to go directly to a map location. Just put #[latitude],[longitude]
at the end of the URL). See <a href="/recent_businesses">the recent businesses page</a> for an idea
of how to format the URL. It will also pop open the information for the listing if there's anything
available.</p>

<p>Anyway, happy dipping!</p>

<h1><a name="news20150923">Stats updates (9/23/2015)</a></h1>

<p>
<a href="https://www.reddit.com/r/chipcards/wiki/faq/using_your_card#wiki_when_should_i_expect_to_start_using_it.3F">
<b>One week (7 days) until the liability shift.</b>
</a></p>

<p>I updated <a href="/recent_businesses">the recent businesses page</a> to a) add some statistics that might be of interest and
b) make recent small business additions more visible. (b) will become important very soon
since I am anticipating a large number of major retailer locations being added to the map in
a short period of time.</p>

<p>Speaking of retailers, who do you think will make the deadline? Post your thoughts <a href="https://www.reddit.com/r/chipcards/comments/3m62m6/who_do_you_think_will_make_the_deadline/">here</a>.</p>

<h1><a name="news20150916">Almost there (9/16/2015)</a></h1>

<p>
<a href="https://www.reddit.com/r/chipcards/wiki/faq/using_your_card#wiki_when_should_i_expect_to_start_using_it.3F">
<b>Two weeks (14 days) until the liability shift.</b>
</a></p>

<p>No major updates. Walgreens and Best Buy appear to be turning on their chip slots, possibly
Staples too. Kroger may also do so soon as well from what I've seen elsewhere. Unfortunately I'm not hearing
much about other retailers, so either it's being kept really quiet or the lower end of analysts'
estimates for EMV terminal penetration is correct. Hopefully not the latter.</p>

<p>We'll see in any case. At least our cards will work a bit better overseas.</p>

<h1><a name="news20150802">UI improvements (8/2/2015)</a></h1>

<p>
<a href="https://www.reddit.com/r/chipcards/wiki/faq/using_your_card#wiki_when_should_i_expect_to_start_using_it.3F">
<b>60 days until the liability shift.</b>
</a></p>

<p>I made a slight improvement to how listings are shown to hopefully reduce confusion. Before,
every pin was treated as though it had multiple businesses and showed businesses as a list,
even if there was only one business. This made it seem like there was no business name on a glance.
As of today, green/red pins (indicating only a single business) will show that business in the
text box; you can add an additional business by clicking on the "add business" link in the popup.
The way yellow pins are treated has not changed.</p>

<p>I also made a slight improvement to reporting--you can now optionally enter your email address
to include with the report. Doing so will allow me to ask for additional information if required
and permanently works around a really annoying issue with prompt boxes and Safari.</p>

<p>if you have any questions or problems, do not hesitate to contact the mods of
/r/chipcards for help.</p>

<h1><a name="news20150705">Multiple businesses per address (7/5/2015)</a></h1>

<p>
<a href="https://www.reddit.com/r/chipcards/wiki/faq/using_your_card#wiki_when_should_i_expect_to_start_using_it.3F">
<b>88 days until the liability shift.</b>
</a></p>

<p>I pushed a major change to the site tonight that should make adding multiple businesses
to a single address (e.g. inside a shopping mall) easier. These changes boil down to the following:</p>

<ol>
<li>A yellow pin will now show on the map when there are multiple businesses at the exact same latitude/longitude.</li>
<li>When a pin is clicked/tapped, a list of all businesses at the given pin are shown at the bottom of the popup box
along with UI at the top to allow for adding additional businesses.</li>
<li>Backend database query modifications to ensure that all businesses at a given latitude/longitude are returned.</li>
</ol>

<p>Hopefully this makes adding mall and similar entries a lot easier. As always, if you have any questions or problems, do not hesitate to contact the mods of
/r/chipcards for help.</p>

<h1><a name="news20150625">Inching closer (6/25/2015)</a></h1>

<p>
<a href="https://www.reddit.com/r/chipcards/wiki/faq/using_your_card#wiki_when_should_i_expect_to_start_using_it.3F">
<b>98 days until the liability shift.</b>
</a></p>

<p>Some Targets appear to be turning chip on now. I've seen a definite date of some time in late 
August for when all of their US locations will be EMV enabled. They will be the third major
retailer to enable it in their stores. Unfortunately it looks like the majority of major retailers
are going to wait until the very last second for various reasons. October 1st may be interesting
in a not so good way.</p>

<p>Also, a Federal Reserve governor <a href="http://www.federalreserve.gov/newsevents/speech/powell20150625a.htm">has basically said that FIs should reconsider signature</a>
as a form of cardholder verification. His comments seem to stop short of recommending PIN though.
If this does cause any change in the way physical cards are configured, it likely won't be for at 
least an issuing cycle simply due to the number of chip and signature cards already out there.</p>

<p>BTW, there are 7158 businesses on the map as of this posting. Contributions are definitely appreciated
(and if you're from a merchant acquirer and want to drop a link to this site to your clients, that would be awesome.)</p>

<h1><a name="news20150604">New map features (6/4/2015)</a></h1>

<p>
<a href="https://www.reddit.com/r/chipcards/wiki/faq/using_your_card#wiki_when_should_i_expect_to_start_using_it.3F">
<b>119 days until the liability shift.</b>
</a></p>

<p>A few changes since last update:</p>
<ol>
<li>There were performance improvements behind the scenes. This will become extremely important
as many retailers will likely flip the switch extremely close to October.</li>
<li>References to "contactless" cards have been changed to "Apple/Android Pay". This reflects
the reality in the US that such cards are extremely rare, with banks opting to steer customers
towards mobile solutions instead. Note that if you have such a card, it will still work
at places that support those two platforms.</li>
<li>A button has been added next to the business text box at the upper right to allow users to recenter the map
on their current location without having to reload the page.</li>
<li>A new page showing the ten most recently added business listings <a href="/recent_businesses">is now here</a>.</li>
</ol>

<p>As always, if you have any questions or problems, do not hesitate to contact the mods of
/r/chipcards for help.</p>

<h1><a name="news20150429">Important map update (4/29/2015)</a></h1>

<p>Merchant Customer Exchange (MCX) members were originally tracked on the
map due to a boycott following the release of Apple Pay and the
disablement of NFC at CVS and Rite-Aid. Due to former MCX members
jumping off the sinking ship and a realization that such tracking is out
of scope for this site, this functionality has been removed.</p>

<p>In its place is the notion of "unconfirmed" businesses. These are
locations that are part of a larger chain that is known to be rolling
out EMV but have not been confirmed to have that functionality. This
allows businesses like Home Depot (which is currently rolling out EMV)
to be represented on the map even though there is no confirmation from
their PR as to the current extent. These businesses use red pins on the map.
To confirm these locations, simply report them and they will be updated
accordingly. Businesses that are user-added will always show as confirmed.</p>

<p>If you have any questions or problems, do not hesitate to contact the mods of
/r/chipcards for help.</p>

<h1><a name="news20150426">Welcome USA Today readers (4/26/2015)</a></h1>

<p>Thanks for visiting! If you do run into any businesses that allow you to use the chip 
in your chip-enabled credit or debit card, please add it to the map. To do so, simply
search for the business' name or address in the search box, check the checkboxes for
things that the business supports (like NFC or PIN entry) and push "add business".</p>

<h1><a name="news20150226">Sample receipts available (2/26/2015)</a></h1>

<p>I've put up a page with sample terminal receipts <a href="/sample_receipts">here</a>.
This will allow one to figure out the terminal that was used for a particular transaction,
especially since it appears likely that cards will still be taken away from cardholders
for some transactions (namely restaurants). If you have a receipt to contribute,
please PM the mods at /r/chipcards and it will be added.</p>

<h1><a name="news20141024">Merchant Consumer Exchange listings (10/24/2014)</a></h1>

<p>Merchant Consumer Exchange is a consortium of retail businesses comprising of
approximately 20% of US retail spending. They have all agreed to disable security
enhancing technologies such as Apple Pay in favor of their own QR code based
mobile payment solution (called <a href="http://www.currentc.com/">CurrentC</a>), 
which they claim is more secure. In reality, their real motivations for doing so are 
two-fold:</p>

<ol>
<li>To avoid having to pay merchant fees, assuming a significant portion of consumers use 
it instead of credit or debit cards.</li>
<li>To ensure that they can still mine purchases and track consumers for advertising and other purposes,
something that the tokenization technology in Apple Pay thwarts.</li>
</ol>

<p>To that end, <a href="http://forums.macrumors.com/showthread.php?t=1807917">they 
have disabled NFC support at their retail stores</a> and are doing everything possible
to prevent progress in payment security. <b>These locations are now in red on the map.</b> 
Please prefer non-MCX merchants if at all possible. They are still on the map because
they do support contact EMV, so they will not be removed at this time.</p>

<h1><a name="news20140929">Diners Club now accepting new US applicants (9/29/2014)</a></h1>

Not strictly about this website, but <a href="http://dinersclubus.com/">Diners Club</a> is
accepting applications again. Supposedly it's a true chip and PIN card (with PIN priority),
but we'll see when mine arrives in the mail.

<h1><a name="news20140915">About Walmart listings (9/15/2014)</a></h1>

As of 9/15/2014, Walmart has completed turning on EMV at 97% of its locations in the US. Because of this,
I've gone ahead and added all Walmart locations that have not already been added to the map. However, this
means that around 125 or so locations have not been turned on yet. Hopefully those remaining ones will be
turned on before the end of the year, but please keep this in mind when visiting your local Walmart location.

</div>
}