@(results: scala.collection.immutable.List[models.BusinessListing], small_results: scala.collection.immutable.List[models.BusinessListing], num_businesses: Int, num_small_businesses: Int, num_nfc_businesses: Int, num_nfc_retailers: Int, num_retailers: Int, num_small_retailers: Int, num_chip_businesses: Int, num_chip_retailers: Int, useContactless: Boolean )

@main("Recently added businesses", None, useContactless) {

<style>
@@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
    
    tr.headerRow { display: none; }
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
        padding-bottom: 1em;
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
        font-weight: bold;
	}
	
    th.definitionCell { display: none; }    
	td.definitionCell:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
        font-weight: bold;
	}
    
	/*
	Label the data
	*/
	tr.responsiveRow > td:nth-child(1):before { content: "Business name"; }
	tr.responsiveRow > td:nth-child(2):before { content: "Address/Location"; }
	tr.responsiveRow > td:nth-child(3):before { content: "PIN support?"; }
	tr.responsiveRow > td:nth-child(4):before { content: "Contactless support?"; }
	tr.responsiveRow > td:nth-child(5):before { content: "Chip support?"; }
	tr.responsiveRow > td:nth-child(6):before { content: "Working at gas pumps?"; }
	tr.responsiveRow > td:nth-child(7):before { content: "Pay at table?"; }
	tr.responsiveRow > td:nth-child(8):before { content: "Unattended terminals?"; }
	tr.responsiveRow > td:nth-child(9):before { content: "Quick Chip?"; }
	tr.responsiveRow > td:nth-child(10):before { content: "Confirmed?"; }
    
    td.total-retailers::before { content: "Total number of retailers"; }
    td.total-retailers-excluding-large::before { content: "     Excluding large retailers:" }
    td.total-locations::before { content: "Total number of locations"; }
    td.total-locations-excluding-large::before { content: "     Excluding large retailers:" }
    td.nfc-retailers::before { content: "NFC supporting retailers:"; }
    td.nfc-locations::before { content: "NFC supporting locations:"; }
    td.chip-retailers::before { content: "Chip supporting retailers:"; }
    td.chip-locations::before { content: "Chip supporting locations:"; }
}
</style>

<p><a href="/">Back to map</a></p>

<h3>Latest additions</h3>
<table width="100%">
<thead>
<tr><td colspan="9"><form>Show businesses beginning with:<input type="text" placeholder="Business name" id="business_name_recents" size="35" /><div class="progress" id="business_recent_progress" style="top: -10px; font-size: 3px;"><div>Loading...</div></div></form></td></tr>
<tr class="headerRow">
    <th>Business name</th>
    <th>Address/Location</th>
    <th>PIN support?</th>
    <th class="emvOnly">Contactless support?</th>
    <th class="contactlessOnly">Chip support?</th>
    <th class="emvOnly">Working at gas pumps?</th>
    <th>Pay at table?</th>
    <th class="emvOnly">Unattended terminals?</th>
    <th class="emvOnly">Quick Chip?</th>
    <th>Confirmed?</th>
</tr>
</thead>
<tbody id="recent_rows">
@for(p <- results) {
<tr class="responsiveRow">
<td><a href="/#@p.latitude,@p.longitude">@p.name</a></td>
<td>@p.address</td>
<td>@if(p.pin_enabled) { Yes } else { No }</td>
<td class="emvOnly ">@if(p.contactless_enabled) { Yes } else { No }</td>
<td class="contactlessOnly ">@if(p.emv_enabled) { Yes } else { No }</td>
<td class="emvOnly ">@if(p.gas_pump_working) { Yes } else { No }</td>
<td>@if(p.pay_at_table) { Yes } else { No }</td>
<td class="emvOnly ">@if(p.unattended_terminals) { Yes } else { No }</td>
<td class="emvOnly ">@if(p.quick_chip) { Yes } else { No }</td>
<td>@if(p.confirmed_location) { Yes } else { No }</td>
</tr>
}
</tbody>
</table>

<h3>Latest small retailer additions</h3>
<table width="100%">
<tr class="headerRow">
    <th>Business name</th>
    <th>Address/Location</th>
    <th>PIN support?</th>
    <th class="emvOnly">Contactless support?</th>
    <th class="contactlessOnly">Chip support?</th>
    <th class="emvOnly">Working at gas pumps?</th>
    <th>Pay at table?</th>
    <th class="emvOnly">Unattended terminals?</th>
    <th class="emvOnly">Quick Chip?</th>
    <th>Confirmed?</th>
</tr>
@for(p <- small_results) {
<tr class="responsiveRow">
<td><a href="/#@p.latitude,@p.longitude">@p.name</a></td>
<td>@p.address</td>
<td>@if(p.pin_enabled) { Yes } else { No }</td>
<td class="emvOnly ">@if(p.contactless_enabled) { Yes } else { No }</td>
<td class="contactlessOnly ">@if(p.emv_enabled) { Yes } else { No }</td>
<td class="emvOnly ">@if(p.gas_pump_working) { Yes } else { No }</td>
<td>@if(p.pay_at_table) { Yes } else { No }</td>
<td class="emvOnly ">@if(p.unattended_terminals) { Yes } else { No }</td>
<td class="emvOnly ">@if(p.quick_chip) { Yes } else { No }</td>
<td>@if(p.confirmed_location) { Yes } else { No }</td>
</tr>
}
</table>

<h3>Map statistics</h3>
<table>
<tr class="definitionRow"><th class="definitionCell">Total number of retailers:</th><td class="definitionCell total-retailers">@("%,d".format(num_retailers))</td></tr>
<tr class="definitionRow"><th class="definitionCell">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Excluding large retailers:</th><td class="definitionCell total-retailers-excluding-large">@("%,d".format(num_small_retailers))</td></tr>
<tr class="definitionRow"><th class="definitionCell">Total number of locations:</th><td class="definitionCell total-locations">@("%,d".format(num_businesses))</td></tr>
<tr class="definitionRow"><th class="definitionCell">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Excluding large retailers:</th><td class="definitionCell total-locations-excluding-large">@("%,d".format(num_small_businesses))</td></tr>
<tr class="emvOnly definitionRow"><th class="definitionCell">NFC supporting retailers:</th><td class="definitionCell nfc-retailers">@("%,d".format(num_nfc_retailers)) (@("%.01f%%".format(num_nfc_retailers*100.0/num_retailers)) of all retailers)</td></tr>
<tr class="emvOnly definitionRow"><th class="definitionCell">NFC supporting locations:</th><td class="definitionCell nfc-locations">@("%,d".format(num_nfc_businesses)) (@("%.01f%%".format(num_nfc_businesses*100.0/num_businesses)) of all locations)</td></tr>
<tr class="contactlessOnly definitionRow"><th class="definitionCell">Chip supporting retailers:</th><td class="definitionCell chip-retailers">@("%,d".format(num_chip_retailers)) (@("%.01f%%".format(num_chip_retailers*100.0/num_retailers)) of all retailers)</td></tr>
<tr class="contactlessOnly definitionRow"><th class="definitionCell">Chip supporting locations:</th><td class="definitionCell chip-locations">@("%,d".format(num_chip_businesses)) (@("%.01f%%".format(num_chip_businesses*100.0/num_businesses)) of all locations)</td></tr>
</table>
}

<script language="javascript" src="@routes.Assets.versioned("javascripts/jquery-3.6.4.min.js")"></script>
<script language="javascript">
<!--

var cached_name = "";

var fetch_recents = function() {
	var entered_value = $("#business_name_recents").val();

	// Don't bother trying to fetch again if we already have.
	if (entered_value == cached_name) return;
	
	$("#business_recent_progress").show();
	$.ajax({
		url: "/recent_businesses/json",
		data: {
			name: entered_value
		},
		dataType: "json",
		success: function(data, status, xhr) {
			$("#recent_rows").empty();
			for (var i = 0; i < data.length; i++)
			{
				$("#recent_rows").append(
					$("<tr>").append(
						$("<td>").append(
							$("<a>").attr("href", "/#" + data[i].latitude + "," + data[i].longitude).append(data[i].name)))
						.append($("<td>").append(data[i].address))
						.append($("<td>").append(data[i].pin_enabled == true ? "Yes" : "No"))
						.append($("<td class='emvOnly'>").append(data[i].contactless_enabled == true ? "Yes" : "No"))
						.append($("<td class='contactlessOnly'>").append(data[i].emv_enabled == true ? "Yes" : "No"))
						.append($("<td class='emvOnly'>").append(data[i].gas_pump_working == true ? "Yes" : "No"))
						.append($("<td>").append(data[i].pay_at_table == true ? "Yes" : "No"))
						.append($("<td class='emvOnly'>").append(data[i].unattended_terminals == true ? "Yes" : "No"))
						.append($("<td class='emvOnly'>").append(data[i].quick_chip == true ? "Yes" : "No"))
                        .append($("<td>").append(data[i].confirmed_location == true ? "Yes" : "No")));
			}

			if (data.length == 0)
			{
				$("#recent_rows").append(
					$("<tr>").append(
						$("<td>").attr("colspan", "9").append("None found.")));
			}

			cached_name = entered_value;
		},
		complete: function(xhr, status) {
			$("#business_recent_progress").hide();
		},
		error: function(xhr, status, thrownError) {
			$("#recent_rows").empty();
			$("#recent_rows").append(
				$("<tr>").append(
					$("<td>").attr("colspan", "9")
					         .append("Could not load data.")
					         .append($("<a>").attr("onclick", "fetch_recents();")
							                 .append("Try again?"))));
		}
	});
};

$(document).ready(function() {
	$("#business_recent_progress").hide();

	// Hide non-relevant data
	var contactless_re = /contactless/;
	if (contactless_re.test(window.location.href))
	{
		var hideEmvStyle = $('<style>.emvOnly { display: none; }</style>');
		$('html > head').append(hideEmvStyle);
	}
	else
	{
		var hideContactlessStyle = $('<style>.contactlessOnly { display: none; }</style>');
        $('html > head').append(hideContactlessStyle);
	}
	
	// Use AJAX to grab list of recents beginning with the letters typed.
	$("#business_name_recents").on('change keyup paste', fetch_recents);
});

// -->
</script>
