@(results: scala.collection.immutable.List[models.BusinessListing], small_results: scala.collection.immutable.List[models.BusinessListing], num_businesses: Int, num_small_businesses: Int, num_nfc_businesses: Int, num_nfc_retailers: Int, num_retailers: Int, num_small_retailers: Int)

@main("Recently added businesses", None) {

<p><a href="/">Back to emvacceptedhere.com</a></p>

<h3>Latest additions</h3>
<table width="100%">
<thead>
<tr><td colspan="9"><form>Show businesses beginning with:<input type="text" placeholder="Business name" id="business_name_recents" size="40" /><div class="progress" id="business_recent_progress" style="top: -10px; font-size: 3px;"><div>Loading...</div></div></form></td></tr>
<tr><th>Business name</th><th>Address/Location</th><th>PIN support?</th><th>Contactless support?</th><th>Working at gas pumps?</th><th>Pay at table?</th><th>Unattended terminals?</th><th>Quick Chip?</th><th>Confirmed?</th></tr>
</thead>
<tbody id="recent_rows">
@for(p <- results) {
<tr>
<td><a href="/#@p.latitude,@p.longitude">@p.name</a></td>
<td>@p.address</td>
<td>@if(p.pin_enabled) { Yes } else { No }</td>
<td>@if(p.contactless_enabled) { Yes } else { No }</td>
<td>@if(p.gas_pump_working) { Yes } else { No }</td>
<td>@if(p.pay_at_table) { Yes } else { No }</td>
<td>@if(p.unattended_terminals) { Yes } else { No }</td>
<td>@if(p.quick_chip) { Yes } else { No }</td>
<td>@if(p.confirmed_location) { Yes } else { No }</td>
</tr>
}
</tbody>
</table>

<h3>Latest small retailer additions</h3>
<table width="100%">
<tr><th>Business name</th><th>Address/Location</th><th>PIN support?</th><th>Apple/Android Pay support?</th><th>Working at gas pumps?</th><th>Pay at table?</th><th>Unattended terminals?</th><th>Quick Chip?</th><th>Confirmed?</th></tr>
@for(p <- small_results) {
<tr>
<td><a href="/#@p.latitude,@p.longitude">@p.name</a></td>
<td>@p.address</td>
<td>@if(p.pin_enabled) { Yes } else { No }</td>
<td>@if(p.contactless_enabled) { Yes } else { No }</td>
<td>@if(p.gas_pump_working) { Yes } else { No }</td>
<td>@if(p.pay_at_table) { Yes } else { No }</td>
<td>@if(p.unattended_terminals) { Yes } else { No }</td>
<td>@if(p.quick_chip) { Yes } else { No }</td>
<td>@if(p.confirmed_location) { Yes } else { No }</td>
</tr>
}
</table>

<h3>Map statistics</h3>
<table>
<tr><th>Total number of retailers:</th><td>@("%,d".format(num_retailers))</td></tr>
<tr><th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Excluding large retailers:</th><td>@("%,d".format(num_small_retailers))</td></tr>
<tr><th>Total number of locations:</th><td>@("%,d".format(num_businesses))</td></tr>
<tr><th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Excluding large retailers:</th><td>@("%,d".format(num_small_businesses))</td></tr>
<tr><th>NFC supporting retailers:</th><td>@("%,d".format(num_nfc_retailers)) (@("%.01f%%".format(num_nfc_retailers*100.0/num_retailers)) of all retailers)</td></tr>
<tr><th>NFC supporting locations:</th><td>@("%,d".format(num_nfc_businesses)) (@("%.01f%%".format(num_nfc_businesses*100.0/num_businesses)) of all locations)</td></tr>
</table>
}

<script language="javascript" src="@routes.Assets.versioned("javascripts/jquery-1.9.0.min.js")"></script>
<script language="javascript">
<!--

var cached_name = "";

var fetch_recents = function() {
	var entered_value = $("#business_name_recents").val();

	// Don't bother trying to fetch again if we already have.
	if (entered_value == cached_name) return;
	
	$("#business_recent_progress").show();
	$.ajax({
		url: "/recent_businesses/json",
		data: {
			name: entered_value
		},
		dataType: "json",
		success: function(data, status, xhr) {
			$("#recent_rows").empty();
			for (var i = 0; i < data.length; i++)
			{
				$("#recent_rows").append(
					$("<tr>").append(
						$("<td>").append(
							$("<a>").attr("href", "/#" + data[i].latitude + "," + data[i].longitude).append(data[i].name)))
						.append($("<td>").append(data[i].address))
						.append($("<td>").append(data[i].pin_enabled == true ? "Yes" : "No"))
						.append($("<td>").append(data[i].contactless_enabled == true ? "Yes" : "No"))
						.append($("<td>").append(data[i].gas_pump_working == true ? "Yes" : "No"))
						.append($("<td>").append(data[i].pay_at_table == true ? "Yes" : "No"))
						.append($("<td>").append(data[i].unattended_terminals == true ? "Yes" : "No"))
						.append($("<td>").append(data[i].quick_chip == true ? "Yes" : "No"))
                        .append($("<td>").append(data[i].confirmed_location == true ? "Yes" : "No")));
			}

			if (data.length == 0)
			{
				$("#recent_rows").append(
					$("<tr>").append(
						$("<td>").attr("colspan", "9").append("None found.")));
			}

			cached_name = entered_value;
		},
		complete: function(xhr, status) {
			$("#business_recent_progress").hide();
		},
		error: function(xhr, status, thrownError) {
			$("#recent_rows").empty();
			$("#recent_rows").append(
				$("<tr>").append(
					$("<td>").attr("colspan", "9")
					         .append("Could not load data.")
					         .append($("<a>").attr("onclick", "fetch_recents();")
							                 .append("Try again?"))));
		}
	});
};

$(document).ready(function() {
	$("#business_recent_progress").hide();
	
	// Use AJAX to grab list of recents beginning with the letters typed.
	$("#business_name_recents").on('change keyup paste', fetch_recents);
});

// -->
</script>
