@(brands: List[models.TerminalBrands], receipt_urls: List[models.TerminalReceipts])

@main("Sample EMV receipts") {

<script language="javascript">
<!--
    function search_now() {
        location.href = "/sample_receipts/" + document.query_form.brand.value + "/" + document.query_form.method.value + "/" + document.query_form.cvm.value;
    }
// -->
</script>

<form name="query_form">
<table>
<tr><th>Terminal brand/store:</th><td><select name="brand">
@for(p <- brands) {
<option value="@p.id">@p.name</option>
}
</select></td></tr>
<tr><th>Transaction method:</th><td><select name="method">
<option value="swiped">Swiped (non-EMV card)</option>
<option value="inserted">Inserted (contact EMV)</option>
<option value="fallback">Fallback (swipe of EMV card after chip failure)</option>
<option value="emv_contactless">EMV Contactless</option>
<option value="msd_contactless">MSD Contactless</option>
</select></td></tr>
<tr><th>Cardholder verification method (CVM):</th><td><select name="cvm">
<option value="none">No CVM (typically for transactions < ~$25-$50 if chip/swipe and signature or contactless)</option>
<option value="signature">Signature</option>
<option value="pin">PIN</option>
<option value="mobile">Mobile device e.g. Apple Pay (EMV contactless only); only for transactions &gt; ~$25-50</option>
</select></td></tr>
<tr><td><input type="button" value="Search" onclick="search_now()" /></td><td><input type="button" value="View All" onclick="view_all()" /></td></tr>
</table>
</form>

<hr noshade/>

@for(p <- receipt_urls) {
<table>
<tr><td colspan="2"><img src="@p.url" /></td></tr>
<tr><th>Terminal brand:</th><td>@p.brand</td></tr>
<tr><th>Transaction method:</th><td>@p.method match {
	case "swiped" => {Swiped (non-EMV card)}
	case "inserted" => {Inserted (contact EMV)}
	case "fallback" => {Fallback (swipe of EMV card after chip failure)}
	case "emv_contactless" => {EMV Contactless}
	case "msd_contactless" => {MSD Contactless}
}</td></tr>
<tr><th>Transaction CVM:</th><td>@p.cvm match {
	case "none" => {No CVM}
	case "signature" => {Signature}
	case "pin" => {PIN}
	case "mobile" => {Mobile device}
}</td></tr>
</table>
<hr noshade/>
}

}
