@(brands: scala.collection.immutable.List[models.TerminalBrands], receipt_urls: scala.collection.immutable.List[models.TerminalReceipts], selected_brand: Option[Int], selected_method: Option[String], selected_cvm: Option[String])

@main("Sample EMV receipts", None) {

<script language="javascript">
<!--
    function search_now() {
    	var tmp_loc = "/sample_receipts";
    	if (document.query_form.brand.value)
    	{
    		tmp_loc = tmp_loc + "/" + document.query_form.brand.value;
    		if (document.query_form.method.value)
    		{
    			tmp_loc = tmp_loc + "/" + document.query_form.method.value;
    			if (document.query_form.cvm.value)
    			{
    				tmp_loc = tmp_loc + "/" + document.query_form.cvm.value;
    			}
    		}
    	}
        location.href = tmp_loc;
    }

    function view_all() { location.href = "/sample_receipts"; }
// -->
</script>

<p><a href="/">Back to emvacceptedhere.com</a></p>

<form name="query_form">
<table>
<tr><th>Terminal brand/store:</th><td><select name="brand">
<option value="">(select)</option>
@for(p <- brands) {
<option value="@p.id" @if(selected_brand.getOrElse(0) == p.id) { selected }>@p.name</option>
}
</select></td></tr>
<tr><th>Transaction method:</th><td><select name="method">
<option value="" @if(selected_method.getOrElse("") == "") { selected }>(select)</option>
<option value="swiped" @if(selected_method.getOrElse("") == "swiped") { selected }>Swiped (non-EMV card)</option>
<option value="inserted" @if(selected_method.getOrElse("") == "inserted") { selected }>Inserted (contact EMV)</option>
<option value="fallback" @if(selected_method.getOrElse("") == "fallback") { selected }>Fallback (swipe of EMV card after chip failure)</option>
<option value="emv_contactless" @if(selected_method.getOrElse("") == "emv_contactless") { selected }>EMV Contactless</option>
<option value="msd_contactless" @if(selected_method.getOrElse("") == "msd_contactless") { selected }>MSD Contactless</option>
<option value="manual" @if(selected_method.getOrElse("") == "manual") { selected }>Manual entry</option>
</select></td></tr>
<tr><th>Cardholder verification method (CVM):</th><td><select name="cvm">
<option value="" @if(selected_cvm.getOrElse("") == "") { selected }>(select)</option>
<option value="none" @if(selected_cvm.getOrElse("") == "none") { selected }>No CVM (typically for transactions < ~$25-$50 if chip/swipe and signature or contactless)</option>
<option value="signature" @if(selected_cvm.getOrElse("") == "signature") { selected }>Signature</option>
<option value="pin" @if(selected_cvm.getOrElse("") == "pin") { selected }>PIN</option>
<option value="mobile" @if(selected_cvm.getOrElse("") == "mobile") { selected }>Mobile device e.g. Apple Pay (EMV contactless only); only for transactions &gt; ~$25-50</option>
</select></td></tr>
<tr><td><input type="button" value="Search" onclick="search_now()" /></td><td><input type="button" value="View All" onclick="view_all()" /></td></tr>
</table>
</form>

<hr noshade/>

@for(p <- receipt_urls) {
<table>
<tr><td colspan="2"><img src="@p.url" /></td></tr>
<tr><th>Terminal brand:</th><td>@p.brand</td></tr>
<tr><th>Transaction method:</th><td>@p.method match {
	case "swiped" => {Swiped (non-EMV card)}
	case "inserted" => {Inserted (contact EMV)}
	case "fallback" => {Fallback (swipe of EMV card after chip failure)}
	case "emv_contactless" => {EMV Contactless}
	case "msd_contactless" => {MSD Contactless}
	case "manual" => {Manual entry}
}</td></tr>
<tr><th>Transaction CVM:</th><td>@p.cvm match {
	case "none" => {No CVM}
	case "signature" => {Signature}
	case "pin" => {PIN}
	case "mobile" => {Mobile device}
}</td></tr>
</table>
<hr noshade/>
}

}
